body{
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.login_form{
    width: 400px;
    height: 400px;
    background-color: white;
    border-radius: 15px;
    border: 2px solid black;
}
.form_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}    
#login_title{
    font-size: 3em;
    color: black;
    display: flex;
    align-text: center;
    align-content: center;
}
#login_label{
    font-size: 2em;
    color: black;
    margin-top: -25px;
}
 